{% extends 'la/base.html' %}

{% block content %}
	<div class="col-md-12">
         <div class="card">
            <div class="header">
                <div class="col-md-12">
                    <h4 class="title">Certificado de identificação</h4>
                    <p class="category">Certificado de identificação a longo prazo - Terceiro modo de operação</p>
                </div>
            </div>
            <div class="content">
                <p>
                {% if la_id %}
                    {{ la_id }}
                {% endif %}
                </p>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h4 class="title">Dados de encadeamento</h4>
                <p class="category">Encadeamento de certificados - Terceiro modo de operação</p>
            </div>
            <div class="content">
                <table class="table datatable responsive">
                    <thead>
                        <tr>
                            <th>Request ID</th>
                            <th>Seed</th>
                            <th>Período</th>
                            <th># cert</th>
                            <th>Pre-linkage Values</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for linkage in linkage_data %}
                        <tr>
                            <td class="td-wrap">{{ linkage.request_id }}</td>
                            <td class="td-wrap">{{ linkage.linkage_seed }}</td>
                            <td class="td-wrap">{{ linkage.period_i }}</td>
                            <td class="td-wrap">{{ linkage.j_certificates }}</td>
                            <td class="td-wrap">
                                <ul>   
                                {% for plv in linkage.pre_linkage_values.all %}
                                    <li>{{ plv.value }}</li>
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
			                    
                <!--div class="footer">
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> Certificado obtido {% now "H:i d/M/Y" %}
                    </div>
                </div-->
            </div>
        </div>
    </div>
{% endblock %}